{% extends "base.html" %}
{% load urlify %}
{% block head_title %}{{instance.titulo}}|{{block.super}} {% endblock %}

	<style>
		{% block style %}
		h1 {color:red;}
		{% endblock  %}
	</style>

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
	{% if instance.imagen %}
	<img src="{{ instance.imagen.url }}" class='img-responsive'/>
	{% endif %}
	<h1>{{titulo}}<small>{{instance.timestamp}}<br/></small></h1><br/>

	{{ share_string}}<br/>
	{{ instance.titulo|urlify }}<br/>

	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolue_uri }}"><i class="fa fa-facebook-square fa-3x" aria-hidden="true" ></i></a>

	<a href="https://twitter.com/home?status={{ instance.titulo|urlify }} {{ request.build_absolue_uri }}"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>

	{{instance.contenido}}<br/>

</div>

{% endblock %}
